nameOverride: ""

fullnameOverride: ""

jitsu:
  environment:
    DATABASE_URL:
      # postgres://username:password@host:port/database?options
      value: ""
    REDIS_URL:
      # redis://username:password@host:port
      value: ""
    BULKER_URL:
      value: "http://jitsu-bulker:3042"

global:
  postgresql:
    auth:
      username: ""
      password: ""
      database: ""
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

console:
  enabled: true
  replicaCount: 1
  image:
    repository: jitsucom/console
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3000
  ingress:
    enabled: true
    className: ''
    annotations: {}
    hosts: []
    # - host: jitsu.example.org
    #   paths:
    #     - path: /
    #       pathType: Prefix
    tls: []
    # - secretName: jitsu-example-org-tls
    #   hosts:
    #     - jitsu.example.org
  probes:
    enabled: true
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
  environment:
    NEXTAUTH_URL:
      value: ""
    JITSU_PUBLIC_URL:
      value: ""
    JITSU_INGEST_PUBLIC_URL:
      value: ""
    CONSOLE_AUTH_TOKENS:
      # https://docs.jitsu.com/self-hosting/configuration#console_auth_tokens
      # needed by ingest
      value: ""
    ROTOR_URL:
      value: "http://jitsu-rotor:3401"
    BULKER_AUTH_KEY:
      # https://github.com/jitsucom/bulker/blob/main/.docs/server-config.md#bulker_auth_tokens
      value: ""
    DISABLE_SIGNUP:
      value: "false"
    GITHUB_CLIENT_ID:
      value: ""
    GITHUB_CLIENT_SECRET:
      value: ""
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

migration:
  enabled: true
  image:
    repository: jitsucom/console
    pullPolicy: IfNotPresent
    tag: "latest"
  restartPolicy: Never
  environment: {}
  jobAnnotations: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

bulker:
  enabled: true
  replicaCount: 1
  image:
    repository: jitsucom/bulker
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"
  service:
    type: ClusterIP
    port: 3042
  probes:
    enabled: true
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
  environment:
    BULKER_AUTH_TOKENS:
      # https://github.com/jitsucom/bulker/blob/main/.docs/server-config.md#bulker_auth_tokens
      value: ""
    BULKER_KAFKA_BOOTSTRAP_SERVERS:
      value: ""
    BULKER_CONFIG_SOURCE:
      value: "redis"
    BULKER_INTERNAL_TASK_LOG:
      value: |
        {
        "id": "task_log",
        "metricsKeyPrefix": "syncs",
        "usesBulker": true,
        "type": "postgres",
        "options":{
          "mode": "stream"
        },
        "credentials":{
          "host": "",
          "port": 5432,
          "sslMode": "disable",
          "database": "",
          "password": "",
          "username": "",
          "defaultSchema":"public"
          }
        }
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

rotor:
  enabled: true
  replicaCount: 1
  image:
    repository: jitsucom/rotor
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3401
  probes:
    enabled: true
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  environment:
    MONGODB_URL:
      # mongodb://username:password@host:port
      value: ""
    KAFKA_BOOTSTRAP_SERVERS:
      # host:port
      value: ""
    BULKER_AUTH_KEY:
      # https://github.com/jitsucom/bulker/blob/main/.docs/server-config.md#bulker_auth_tokens
      value: ""
    CONFIG_STORE_DATABASE_URL:
      # postgres://username:password@host:port/database?options
      value: ""
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

ingest:
  enabled: true
  replicaCount: 1
  image:
    repository: jitsucom/ingest
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3043
  ingress:
    enabled: true
    className: ''
    annotations: {}
    hosts: []
    # - host: jitsu.example.org
    #   paths:
    #     - path: /api/s/
    #       pathType: Prefix
    tls: []
    # - secretName: jitsu-example-org-tls
    #   hosts:
    #     - jitsu.example.org
  probes:
    enabled: true
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
  environment:
    INGEST_PUBLIC_URL:
      value: ""
    INGEST_AUTH_TOKENS:
      # https://docs.jitsu.com/self-hosting/configuration#ingest_auth_tokens
      value: ""
    INGEST_KAFKA_BOOTSTRAP_SERVERS:
      # host:port
      value: ""
    INGEST_REPOSITORY_URL:
      value: "http://jitsu-console:3000/api/admin/export/streams-with-destionations"
    INGEST_REPOSITORY_AUTH_TOKEN:
      # https://docs.jitsu.com/self-hosting/configuration#console_auth_tokens
      # service-admin-account:console-token
      value: ""
    INGEST_SCRIPT_ORIGIN:
      value: "http://jitsu-console:3000/api/s/javascript-library"
    INGEST_ROTOR_URL:
      value: "http://jitsu-rotor:3401"
    INGEST_REDIS_URL:
      value: ""
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

syncctl:
  enabled: true
  replicaCount: 1
  image:
    repository: jitsucom/syncctl
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3043
  probes:
    enabled: true
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
  environment:
    SYNCCTL_AUTH_TOKENS:
      value: ""
    SYNCCTL_TOKEN_SECRET:
      value: ""
    SYNCCTL_DATABASE_URL:
      value: ""
    SYNCCTL_KUBERNETES_CLIENT_CONFIG:
      value: local
    SYNCCTL_KUBERNETES_CONTEXT:
      value: ""
    SYNCCTL_KUBERNETES_NAMESPACE:
      # This needs to be abstracted
      value: '{{ .Release.Namespace }}'
    SYNCCTL_BULKER_URL:
      value: "http://jitsu-bulker:3042"
    SYNCCTL_BULKER_AUTH_KEY:
      value: ""
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

imagePullSecrets: []

serviceAccount:
  create: true
  annotations: {}
  name: ""

postgresql:
  enabled: true

redis:
  enabled: true

kafka:
  enabled: true

mongodb:
  enabled: true
