{{- if .Values.rotor.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jitsu.fullname" . }}-rotor
  labels:
    {{- include "jitsu.labels" . | nindent 4 }}
spec:
  {{- if not .Values.rotor.autoscaling.enabled }}
  replicas: {{ .Values.rotor.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.rotor.revisionHistoryLimit }}
  {{- with .Values.rotor.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "jitsu.selectorLabels" . | nindent 6 }}
      {{- include "jitsu.rotor.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with (merge (deepCopy .Values.rotor.podAnnotations) .Values.global.podAnnotations) }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "jitsu.selectorLabels" . | nindent 8 }}
        {{- include "jitsu.rotor.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "jitsu.serviceAccountName" . }}
      {{- with (.Values.rotor.podSecurityContext | default .Values.global.podSecurityContext) }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "jitsu.waitFor.initContainers" (list $ .Values.rotor) | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with (.Values.rotor.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.rotor.image.repository }}:{{ .Values.rotor.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.rotor.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.rotor.service.port }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.rotor.service.metricsPort }}
              protocol: TCP
          {{- if .Values.rotor.probes.enabled }}
          livenessProbe:
            httpGet:
              port: http
              path: /health
          readinessProbe:
            httpGet:
              port: http
              path: /health
          startupProbe:
            httpGet:
              port: http
              path: /health
            failureThreshold: 60
          {{- end }}
          {{- if .Values.rotor.envFrom }}
          envFrom:
            {{- toYaml .Values.rotor.envFrom | nindent 12 }}
          {{- end }}
          env:
            {{- if and .Values.config.enabled .Values.rotor.config.enabled }}
            {{- include "jitsu.rotor.env" . | nindent 12 }}
            {{- end }}
            {{- with .Values.rotor.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with (.Values.rotor.resources | default .Values.global.resources) }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with (concat .Values.rotor.volumeMounts .Values.global.volumeMounts) }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with (.Values.rotor.nodeSelector | default .Values.global.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.rotor.affinity | default .Values.global.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.rotor.tolerations | default .Values.global.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.rotor.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- if kindIs "string" . }}
        {{- tpl . $ | nindent 8 }}
        {{- else }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- with (concat .Values.rotor.volumes .Values.global.volumes) }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
