apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jitsu.fullname" . }}-bulker
  labels:
    {{- include "jitsu.labels" . | nindent 4 }}
spec:
  {{- if not .Values.bulker.autoscaling.enabled }}
  replicas: {{ .Values.bulker.replicaCount }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 10
      maxUnavailable: 0
  selector:
    matchLabels:
      {{- include "jitsu.selectorLabels" . | nindent 6 }}
      {{- include "jitsu.bulker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with (merge (deepCopy .Values.bulker.podAnnotations) .Values.global.podAnnotations) }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "jitsu.selectorLabels" . | nindent 8 }}
        {{- include "jitsu.bulker.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "jitsu.serviceAccountName" . }}
      {{- with (.Values.bulker.podSecurityContext | default .Values.global.podSecurityContext) }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- if .Values.tokenGenerator.enabled }}
        - name: wait-for-tokens
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["job-wr", "{{ include "jitsu.fullname" . }}-token-generator-{{ sha1sum (toJson .Values) | substr 0 8 }}"]
        {{- end }}
        {{- if .Values.clickhouse.enabled }}
        - name: wait-for-clickhouse
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["service", "{{ .Release.Name }}-clickhouse"]
        {{- end }}
        {{- if .Values.redis.enabled }}
        - name: wait-for-redis
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["service", "{{ .Release.Name }}-redis-master"]
        {{- end }}
        {{- if .Values.kafka.enabled }}
        - name: wait-for-kafka
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["service", "{{ .Release.Name }}-kafka"]
        {{- end }}
        {{- if .Values.migration.enabled }}
        - name: wait-for-migration
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["job-wr", "{{ include "jitsu.fullname" . }}-migration-{{ sha1sum (toJson .Values) | substr 0 8 }}"]
        {{- end }}
        {{- if .Values.console.enabled }}
        - name: wait-for-console
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args: ["service", "{{ include "jitsu.fullname" . }}-console"]
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with (.Values.bulker.securityContext | default .Values.global.securityContext) }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.bulker.image.repository }}:{{ .Values.bulker.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.bulker.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.bulker.service.port }}
              protocol: TCP
          {{- if .Values.console.probes.enabled }}
          livenessProbe:
            httpGet:
              port: http
              path: /health
          readinessProbe:
            httpGet:
              port: http
              path: /ready
          {{- end }}
          {{- if .Values.bulker.envFrom }}
          envFrom:
            {{- toYaml .Values.bulker.envFrom | nindent 12 }}
          {{- end }}
          env:
            {{- if and .Values.config.enabled .Values.bulker.config.enabled }}
            {{- include "jitsu.bulker.env" . | nindent 12 }}
            {{- end }}
            {{- with .Values.bulker.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with (.Values.bulker.resources | default .Values.global.resources) }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with (.Values.bulker.nodeSelector | default .Values.global.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.bulker.affinity | default .Values.global.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.bulker.tolerations | default .Values.global.affinity) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.bulker.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- if kindIs "string" . }}
        {{- tpl . $ | nindent 8 }}
        {{- else }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
